@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

:root {
  --purple: hsl(257, 27%, 26%);
  --blue: hsl(180, 66%, 49%);
  --Gray400: hsl(0, 0%, 75%);
  --Gray500: hsl(257, 7%, 63%);
  --Gray5001: hsl(0, 0%, 93%);
  --Gray900: hsl(255, 11%, 22%);
  --Gray950: hsl(260, 8%, 14%);
  --blue1: hsl(180, 61%, 66%);
  --Red400: hsl(0, 87%, 67%);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}